.contactMain {
    background-color: #1a1a1a;
    padding: 2rem 9%;

}

.containerC {
    margin-top: 2rem;
}

.dividerC {
    background-color: #333;
}

.typoC1 {
    color: #fff;
}

.typoC2 {
    color: #f9ca24;
}

.cInfo {
    color: #fff;
    padding: 10px;
}

.infoTypo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.icon {
    color: #f9ca24;
}

.info {
    color: rgb(238, 238, 238);
}

.link {
    display: flex;
    padding: 10px;
}

.link a {
    margin-right: 1rem;
    color: #f9ca24;
}

.containerC form .textField {
    width: 100%;
    background: rgb(136, 133, 133);
    padding: 1.5rem;
    margin: 1rem 0;
    font-size: 1rem;
    border: none;
    outline: none;
    color: #fff;
}

form .textField::placeholder {
    color: #1a1a1a;
    /* color: rgb(175, 172, 172); */
}

.containerC input:focus {
    background-color: #353b48;
    background: #eee;
    color: #333;
}

.containerC textarea:focus {
    background-color: #353b48;
    background: #eee;
    color: #333;

}

.message {
    height: 8rem;
    resize: none;
    font-size: 1.2rem;

}




.containerC .btnC {
    font-size: 1rem;
    color: #eee;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgb(51, 51, 51);
}

.containerC .btnC:hover {
    background-color: #f9ca24;
    color: #333;
}